@model RouteTicket



<div class="container">
    @if (Model == null)
    {
        <div class="col-md-6 text-danger">
            <h2>No Current Route</h2>
        </div>
    }
    else
    {
        <div class="row">
            @foreach (var item in @Model.Routes)
            {

                <div class="col-md">
                    @await Html.PartialAsync("_Route", item)
                </div>
            }
        </div>
    }
</div>

